* {
  margin: 0;
  box-sizing: border-box;
}

[data-filter="light"] {
  --body-bg-col: url(imgs/cloudsBackdrop.webp);
  --window-bg-col: #f0f4f9;
  --main-bg-col: white;
  --col: black;
  --h1-col: orange;
  --h2-col: black;
  --accent-col: orange;
  --alt-txt-col: black;
  --deactivated-col: rgb(96, 96, 96);
  --da-box-shadowX: #c8c8c8;
  --da-box-shadowY: #fff;
  --activeted-state: hsl(0, 0%, 92%);
  --inactive-hover: hsl(0, 0%, 100%);
  --radio-color: black;
}
[data-filter="dark"] {
  --body-bg-col: url(imgs/nightmodeIMG.webp);
  --window-bg-col: #1e1e1e;
  --main-bg-col: #0f0f0f;
  --col: white;
  --h1-col: orange;
  --h2-col: black;
  --accent-col: orange;
  --alt-txt-col: white;
  --deactivated-col: #4e4e4e;
  --da-box-shadowX: #3a3a3a;
  --da-box-shadowY: #5e5e5e;
  --activeted-state: hsl(0, 0%, 3%);
  --inactive-hover: hsl(0, 0%, 8%);
  --radio-color: orange;
}

.manrope-fz {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-style: normal;
}

body {
  background-image: var(--body-bg-col);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  color: var(--col);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app_window {
  width: 80%;
  height: 90%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 10px;
  padding: 20px 10px;
  /***styling***/
  background-color: var(--window-bg-col);
  border-radius: 6px;
}

.toDo_window {
  width: 100%;
  height: 100%;
  background-color: var(--main-bg-col);
  border-radius: 10px;
  position: relative;
}
.toDo_window h1 {
  font-size: 45px;
  width: 300px;
  font-family: "Manrope";
  margin: 20px 18px;
  color: var(--h1-col);
}

.themes {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 300px;
  font-family: "Manrope";
  font-weight: 500;
  top: 10px;
  right: 10px;
}
#theme_changer {
  margin-left: 5px;
  font-family: "Manrope";
  border: 2px solid var(--accent-col);
  border-radius: 3px;
  flex: 1;
  color: var(--accent-col);
  background-color: var(--main-bg-col);
  border: 1px solid;
}
#theme_changer option {
  font-family: "Manrope";
}

.todo_list {
  display: flex;
  position: absolute;
  padding: 15px 5px;
  width: 80%;
  height: 500px;
  top: 70px;
  left: 10px;
}

#toDo_felt {
  font-family: "Manrope";
  font-weight: 500;
}

#toDo_felt input[type="radio"] {
  /* width: 100%; */
  margin: 15px 0px;
  cursor: pointer;
  accent-color: var(--radio-color);
}
#done_felt input[type="radio"] {
  /* width: 100%; */
  margin: 15px 0px;
  cursor: pointer;
  accent-color: var(--radio-color);
}

.cross {
  text-decoration: line-through;
}

#done_felt label {
  cursor: pointer;
}
#toDo_felt label {
  cursor: pointer;
}
.done_list {
  display: flex;
  position: absolute;
  font-family: "Manrope";
  padding: 15px 5px;
  width: 80%;
  height: 500px;
  top: 70px;
  left: 10px;
}

#done_felt {
  font-family: "Manrope";
  font-weight: 500;
}

.input_box {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 70%;
  height: 50px;
  bottom: 5px;
  right: 50%;
  translate: 50%;
}

#input_felt {
  width: 100%;
  height: 100%;
  font-size: 15px;
  padding: 13px 20px;
  border-radius: 15px;
  border: none;
  font-family: "Manrope";
  color: var(--alt-txt-col);
  background-color: var(--window-bg-col);
}

#input_felt_div {
  flex: 7;
  flex-basis: 0;

  margin-right: 5px;
}

#add_but {
  order: 2;
  width: auto;
  height: 80%;
  padding: 5px;
  border: 2px solid var(--accent-col);
  border-radius: 5px;
  flex: 1;
  color: var(--accent-col);
  font-family: "Manrope";
  font-weight: 700;
  background: none;
  transition: transform 0.3s ease;
}
#add_but:hover {
  background-color: var(--accent-col);
  transform: translate(2px, 2px);
  color: var(--alt-txt-col);
  font-weight: 700;
  border: none;
  box-shadow: -3px 1px var(--col);
}

/***groups buttons***/

.group_window {
  width: 100%;
  height: 100%;
  background: none;
  padding: 10px 3px;
  font-family: "Manrope";
  font-weight: 600;
}

.group_window div {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;
  color: var(--alt-txt-col);
  background-color: var(--main-bg-col);
  width: 100%;
  cursor: pointer;
  padding: 7px 7px;
  margin: 7px 0px;
  box-shadow: -2px 2px var(--col);
  transition: transform 0.3s ease;
}

.activated {
  color: var(--deactivated-col) !important;
  background-color: var(--activeted-state) !important;
  box-shadow: inset 3px 3px var(--da-box-shadowX), inset -1px -1px var(--da-box-shadowY) !important;
  cursor: default !important;
}

#group2:hover {
  background-color: var(--inactive-hover) !important;
  transform: translate(-2px, 2px);
  box-shadow: 2px 3px var(--accent-col);
  color: var(--accent-col);
}
#group1:hover {
  background-color: var(--inactive-hover) !important;
  transform: translate(-2px, 2px);
  box-shadow: 2px 3px var(--accent-col);
  color: var(--accent-col);
}
.activated:hover {
  transform: none !important;
  background-color: var(--da-box-shadowX) !important;
  /* box-shadow: none !important; */
  box-shadow: inset 3px 3px var(--da-box-shadowX), inset -1px -1px var(--da-box-shadowY) !important;
}
/*****confirm box******/
.hidden {
  display: none !important;
}

.conf_box {
  width: 250px;
  font-family: "Manrope";
  height: fit-content;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid var(--col);
  border-radius: 15px;
  box-shadow: 3px 5px var(--col);
  z-index: 3;
}
.conf_box div {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-top: 5px;
}
.conf_box button {
  padding: 5px 10px;
  margin-top: 10px;
  font-family: "Manrope";
  font-weight: 700;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
}

#delete {
  background-color: rgb(243, 53, 53);
  color: var(--alt-txt-col);
  border: none;
}
#delete1 {
  background-color: rgb(243, 53, 53);
  color: var(--alt-txt-col);
  border: none;
}

#delete:hover {
  background-color: rgb(255, 122, 122);
}
#delete1:hover {
  background-color: rgb(255, 122, 122);
}

#confirmation_box h2 {
  text-align: center;
  font-family: "Manrope";
  font-size: 25px;
  font-weight: 700;
}
